.header {
  background-color: rgb(136, 127, 116);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.logo__row {
  display: flex;
  gap: 7px;
}
img {
  width: 100%;
  height: 100%;
}

.header__time {
  font-size: 22px;
}
