.nav__buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
  padding: 30px;
  margin-bottom: 50px;
  border: 1px solid black;
  border-radius: 14px;
  background-color: grey;
}
